<div class="row mt-5">
    <div class="col-4"> without parameter <br>
        <app-custom-button (btnClick)="fetchData()" btnText="Custom Button" btnClass="btn btn-success"></app-custom-button>
    </div>
</div>




<div class="row mt-5">
    <div class="col-2">
        <button class="btn btn-primary" (click)="fetchData()">Fetch Todo Data</button>
    </div>
    <div class="col-3">
        <select class="form-select">
            @for(item of data; track $index)
            {
                <option [value]="item.name">{{item.title}}</option>
            }
        </select>
    </div>
</div>

<div class="row mt-5">
    <div class="col-2">
        <button class="btn btn-primary" (click)="sendData()">Send Data</button>
    </div>
    <div class="col-3">
        {{postAPIResponseData | json}}
    </div>
</div>


<div class="row mt-5">
    <div class="col-2">
        <button class="btn btn-primary" (click)="fetchUserData()">Get using Service</button>
    </div>
    <div class="col-3">
        <select class="form-select">
            @for(item of userData; track $index)
            {
                <option [value]="item.name">{{item.name}}</option>
            }
        </select>
    </div>
</div>
<!-- <div class="row">
    {{ data | json }}
</div> -->


