<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="add-emp">Add Emp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="data-binding">Data Bindings</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Directives</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="attribute-dir">Attribute Dir</a></li>
                        <li><a class="dropdown-item" routerLink="structural-dir">Structural Dir</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Control Flow</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="if-else">IF-ELSE</a></li>
                        <li><a class="dropdown-item" routerLink="for">FOR</a></li>
                        <li><a class="dropdown-item" routerLink="switch">SWITCH</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="pipe">PIPE</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Forms</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="template-form">Template Form</a></li>
                        <li><a class="dropdown-item" routerLink="reactive-form">Reactive Form</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="API-HttpClient">API- HttpClient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="ng-template">ng-template</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="ng-container">ng-container</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Decorators</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="view-child">View Child</a></li>
                        <li><a class="dropdown-item" routerLink="reactive-form">Reactive Form</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input type="text" class="form-control me-2" type="text" placeholder="Search">
                <button type="submit" class="btn btn-primary" type="button">Submit</button>
            </form>
        </div>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>